@media (max-width:1185px) {
    .hamburger-menu-mobile{
        visibility: visible;
    }
    #menu-toggle{
        visibility: visible;
    }
    html{
        scroll-behavior: smooth;
    }

    .left-content{
        max-width: 100%;
    }

    .right-content{
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        section{
            span{
                position: sticky;
                top: 60px;
            }
        }
    }


}