/*Variables*/
$div-color: rgba(100, 100, 100, 0.507);
$div-shadow: 0px 5px 6px rgba(0, 0, 0, 0.363);
$bd-filter: saturate(180%) blur(10px);
$rounded-borders: 30px;


body{
    background-color: rgb(68, 118, 255);
    font-family: 'Roboto', sans-serif;
    color: rgb(200 , 200, 200);
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
}
/*
########################################################################################
######################################             #####################################
###################################### TOP CONTENT #####################################
######################################             #####################################
########################################################################################
*/
.top-content{
    height: 60px;
    min-width: 100%;
    background-color: $div-color;
    flex: 2 0 auto;
    text-align: center;
    line-height: 100%;
    backdrop-filter: $bd-filter;
    box-shadow: $div-shadow;
    position: sticky;
    top: 0px;
    z-index: 40;
}


/*
########################################################################################
######################################              ####################################
###################################### LEFT CONTENT ####################################
######################################              ####################################
########################################################################################
*/
.left-content{
    background-color: $div-color;
    flex: 1 0 auto;
    text-align: center;
    min-width: 265px;
    max-width: 265px;
    border-radius: $rounded-borders;
    margin: 10px;
    backdrop-filter: $bd-filter;
    box-shadow: $div-shadow;
    padding-bottom: 20px;
    h5{
        margin: 0;
    }
    meter{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 8px;
        margin-top: 3px;
        border-style:none;
        --background: #dadada;
        --optimum: rgb(0, 162, 255);
        --sub-optimum: rgb(46, 95, 201);
        --sub-sub-optimum: rgb(54, 70, 138);
        /* https://stackoverflow.com/questions/8094835/how-to-style-html5-meter-tag */
          /* The gray background in Firefox */
        background: var(--background);
        
    }
    /* The gray background in Chrome, etc. */
    meter::-webkit-meter-bar {
        background: var(--background);
    }
  
    /* The green (optimum) bar in Firefox */
    meter:-moz-meter-optimum::-moz-meter-bar {
        background: var(--optimum);
    }
  
    /* The green (optimum) bar in Chrome etc. */
    meter::-webkit-meter-optimum-value {
        background: var(--optimum);
    }
  
    /* The yellow (sub-optimum) bar in Firefox */
    meter:-moz-meter-sub-optimum::-moz-meter-bar {
        background: var(--sub-optimum);
    }
  
    /* The yellow (sub-optimum) bar in Chrome etc. */
    meter::-webkit-meter-suboptimum-value {
        background: var(--sub-optimum);
    }
  
    /* The red (even less good) bar in Firefox */
    meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
        background: var(--sub-sub-optimum);
    }
  
    /* The red (even less good) bar in Chrome etc. */
    meter::-webkit-meter-even-less-good-value {
        background: var(--sub-sub-optimum);
    }
    img{
        box-shadow: 0px 6px 5px black;
        display: block;
        margin: 30px auto;
    }
}
/*
########################################################################################
######################################               ###################################
###################################### RIGHT CONTENT ###################################
######################################               ###################################
########################################################################################
*/

.right-content{
    flex: 8 0 auto;
    min-width: 800px;
    max-width: calc(100% - 305px);
    background-color: $div-color;
    padding: 0px;
    border-radius: $rounded-borders;
    margin: 10px;
    backdrop-filter: $bd-filter;
    box-shadow: $div-shadow;


}
section > span{
    text-align: center;
}
h2{
    margin: 40px 0 0 0;
    font-size: 24px;
}
h3{
    font-size: 14px;
    margin: 10px 30px;
    font-weight: 400;
}
.sub-title{
    font-size: 16px;
    margin: 0 50px;
    font-weight: 600;
}


/*
########################################################################################
######################################                ##################################
###################################### BOTTOM CONTENT ##################################
######################################                ##################################
########################################################################################
*/
.bottom-content{
    flex: 1 0 auto;
    min-width: calc(100% - 100px);
    background-color: $div-color;
    padding: 40px;
    border-radius: $rounded-borders;
    margin: 10px;
    backdrop-filter: $bd-filter;
    box-shadow: $div-shadow;
    h2{
        margin: 0;
    }
}





/* background https://pocoloco.io/ */
path {
    transform-origin: 50% 0%;
  }
  .background--custom {
    background-color: #141414;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
  }
  @keyframes path0 {
    0% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
  @keyframes path1 {
    0% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(-20deg);
    }
  }
  @keyframes path2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }